<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - N-Queens Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Error in Solving N-Queens</h1>
        </header>

        <div id="message" class="message">
            <p>{{ error }}</p>
        </div>

        <footer>
            <p>Developed with ❤️ by Ashish</p>
        </footer>
    </div>
</body>
</html>
